$primary-color: #A37;

/*The styles needed for the Bike List*/

ul {
  list-style-type: none;
}

body{
	display: inline-flex;
	background-color: #c9e3d6b3;
}

li{
	font-size: 18px;
	border-bottom: 2px solid #000;	
}

li button {
	padding: 10px;
	border: 1px solid white;
}

li :hover{
	font-size: 18px;
	border-bottom: 1px solid white;	
}
div{
	margin: 20px;
	padding: 15px;
}


 @import url("../js/modules/BikeList.css");